/*CSS BY BRILEIGH SIMS*/

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS REST*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOT VARIABLES*/
:root {
--teal:#4CA7C0;
--purple: #484FB7;
--lavender: #6B8FE7;
--yellow: #E9BB57;
--pink: #D9526F;
--dark-gray: #1E1E1E; 
--white: #ffffff;

--font-heading: 'Kavoon', cursive;
--font-body: 'Inter', sans-serif;

--box-shadow: #1e1e1e;
 }

 /*GLOBAL STYLES (mobile first)*/
 body {
   background-color: var(--lavender);
   color: var(--dark-gray);
   font-family: var(--font-body);
   max-width: 450px;
   margin: 0 auto;
   padding: 1rem 0.75rem;
 }

 
 

 header {
    background-color: var(--purple);
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: var(--white);
 }

 header h1 {
    font-family: var(--font-heading);
    font-size: 3em;
    margin-bottom: 0.25rem;
    text-shadow: 0 4px 10px var(--box-shadow);
    transition: all 0.3s ease;
    
 }

 header p{
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
 }

  .menu{
    background-color: var(--yellow);
    border-radius: 10px;
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    
 }
  .menu h2{
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    color: var(--dark-gray);
    font-family: var(--font-body);
    font-weight: bold;
    border-bottom: 2px solid var(--lavender);
    
 }

 .menu button {
    background-color: var(--white);
    border: none;
    padding: 0.75rem;
    margin: 0.25rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--purple);
    cursor: pointer;
 }

 .service-group{
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 2rem;
 }

 h2{
    font-family: var(--font-heading);
    font-size: 2em;
    color: var(--white);
    margin-bottom: 0.25rem;
    font-weight: 500;
 }

  h3{
    font-size: 1.5em;
    color: var(--yellow);
    padding: 0.5rem;
 }


 .services{
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: stretch;
    box-shadow: 0 4px 10px var(--box-shadow);
    transition: all 0.3s ease;
 }

.service-icon{
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
 }

 .service-content h4{
    font-size: 1.15em;
    font-weight: 700;
    color: var(--lavender);
    margin-bottom: 0.25rem;
    border-left: 2px solid var(--lavender);
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
 }

 .service-content p{
    font-size: 0.95em;
    line-height: 1.4;
    border-left: 2px solid var(--lavender);
    padding: .5rem;
 }

 

 .why-us{
    background-color: var(--pink);
    border-radius: 10px;
    padding: 1rem;
    color: var(--white);
    margin-bottom: 1rem;
    
 }

 .why-us .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.75rem;
    list-style: none;
 }

 .why-us .badge{
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;

 }

 .badge:nth-child(1) {
    background-color: var(--teal);
    color: var(--dark-gray);
 }

 .badge:nth-child(2) {
    background-color: var(--lavender);
    color: var(--dark-gray);
 }

 .badge:nth-child(3) {
    background-color: var(--yellow);
    color: var(--dark-gray);
 }

 .badge:nth-child(4) {
    background-color: var(--white);
    color: var(--dark-gray);

 }


 .pricing-section{
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border-top: 2px solid var(--lavender);
    padding-top: 1rem;
    margin-top: 2rem;
 }

 .pricing-section h3{
    font-family: var(--font-body);
    font-size: 1.5em;
    color: var(--yellow);
    margin-bottom: 0.5rem;
 }

 .pricing-section h4{
    font-family: var(--font-body);
    color: var(--yellow);
    padding: 0.5rem;
    font-size: 1.15em;
 }

 table{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.95em;
    background-color: var(--white);
    
    
    
 }

 th, td{
    border: 1px solid var(--yellow);
    padding: 0.5rem 1rem;
    text-align: center;
 }

 th{
    background-color: var(--yellow);
    font-weight: bold;
 }

 .first-step{
   background-color: var(--pink);
   padding: 1.5rem 1rem;
   border-radius: 10px;
   color: var(--white);
   text-align: center;
   margin-bottom: 2rem;
   
 }

 .first-step h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.75rem;
    font-family: var(--font-heading);
 }

 .first-step p{
    font-size: 0.95em;
    line-height: 1.4;
    margin-bottom: 1rem;
 }

 .first-step button{
    background-color: var(--yellow);
    color: var(--dark-gray);
    border: none;
    padding: 0.75rem 1.25rem;
    font-weight: bold;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 10px var(--box-shadow);
    transition: all 0.3s ease;
 }

 footer{
    text-align: center;
    font-size: 0.8rem;
    color: var(--white);
    padding-bottom: 2rem;
 }
